{% extends 'base.html' %}

{% block content %}
  <i class="icon">👤</i>
  <h2 class="title">Alunos</h2>
  <h1>Lista de Alunos</h1>
  <ul>
      <div class="card">
        {% for aluno in object_list %}
          <li>
            {{ aluno.nome_completo }} ({{ aluno.cpf }})
            <a href="{% url 'aluno:aluno_detail' aluno.pk %}">Ver detalhes</a>
            <a href="{% url 'aluno:aluno_update' aluno.pk %}">Atualizar</a>
            <a href="{% url 'aluno:aluno_delete' aluno.pk %}">Excluir</a>
          </li>
        {% endfor %}
      </div>
  </ul>
    <div class="card">
        <a href="{% url 'aluno:aluno_create' %}" class="button">Criar novo aluno</a>
    </div>
    <div class="card">
        <a href="{% url 'home' %}" class="button">Voltar</a>
    </div>

{% endblock %}