<!-- aluno_detail.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <h2>Informações do Aluno</h2>
          <table border="1" cellpadding="5" cellspacing="0">
            <tr>
              <th>Informação</th>
              <th>Valor</th>
            </tr>
            <tr>
              <td>Nome:</td>
              <td>{{ aluno.nome_completo }}</td>
            </tr>
            <tr>
              <td>CPF:</td>
              <td>{{ aluno.cpf }}</td>
            </tr>
            <tr>
              <td>RG:</td>
              <td>{{ aluno.rg }}</td>
            </tr>
            <tr>
              <td>Data de Nascimento:</td>
              <td>{{ aluno.data_nascimento }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <h2>Turmas em andamento</h2>
          {% if aluno.matricula_set.exists %}
            <table border="1" cellpadding="5" cellspacing="0">
              <tr>
                <th>Turma</th>
                <th>Curso</th>
              </tr>
              <tr>
                <td>{{ aluno.matricula_set.first.turma.turma_nome }}</td>
                <td>{{ aluno.matricula_set.first.turma.curso.nome_curso }}</td>
              </tr>
            </table>
          {% else %}
            <p>Nenhum registro de matrícula encontrado.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}