{% extends 'base.html' %}

{% block content %}
  <div class="container">
     <div class="card">
         <span>Filtrar:</span><br>
          <a href="#">Por curso</a><br>
          <a href="#">Por Turma</a><br>
          <a href="#">Por Ano</a>
     </div>

    <div class="card">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="border: 1px solid #ddd;">Aluno</th>
              <th style="border: 1px solid #ddd;">Opções</th>

            </tr>
          </thead>
          <tbody>
            {% for aluno in object_list %}
            <tr>
              <td style="border: 1px solid #ddd;">{{ aluno.nome_completo }}</td>
              <td style="border: 1px solid #ddd;">
                <a href="{% url 'aluno:aluno_detail' aluno.pk %}">Ver detalhes</a><br>
              </td>
              <td style="border: 1px solid #ddd;">
                <a href="{% url 'aluno:aluno_update' aluno.pk %}">Atualizar</a><br>
              </td>
              <td style="border: 1px solid #ddd;">
                <a href="{% url 'aluno:aluno_delete' aluno.pk %}">Excluir</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>
    <div class="card">
        <div class="button-container">
            <a href="{% url 'aluno:aluno_create' %}" class="button">Cadastrar novo aluno</a><br>
        </div>
        <div class="button-container">
            <a href="{% url 'home' %}" class="button">Voltar</a>
        </div>
    </div>

  </div>
{% endblock %}