{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <i class="icon">👤</i>
            <a href="{% url 'aluno:aluno_list' %}">
                <h2 class="title">Alunos</h2>
            </a>
        </div>
        <div class="card">
            <i class="icon">📚</i>
            <h2 class="title">Professores</h2>
        </div>
        <div class="card">
            <i class="icon">📑</i>
            <h2 class="title">Cursos</h2>
        </div>
        <div class="card">
            <i class="icon">📝</i>
            <h2 class="title" >Matrícula</h2>
        </div>
        <div class="card">
            <i class="icon">📁</i>
            <h2 class="title">Documentos</h2>
        </div>
    </div>
{% endblock %}